a {
    padding: 20px;
    display: inline-block;
    margin: 10px;
}

/* tags display inline */
span, a, strong {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/*tags display block*/

div, h1,p {
    border: 2px solid #b30000;
}