body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin: 50px;
}

.container {
  margin: 30px;
  padding: 20px;
  background-color: #121113;
  border-radius: 4px;
}

.container p {
  color: #9d9c9d;
}

.container h2 {
  color: white;
  margin: 0px;
}

.container span {
  color: gold;
}

.container a {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: gold;
  padding: 10px;
  border-radius: 4px;
}
